{% extends "layout.html" %}
{% block content %}
	<div class="d-flex justify-content-center">
	<div class="card">
	<div class="card-title">
		Signup
	</div>
	<form action="/signup	" method="POST" class="w-400 mw-full">
		<div class="form-group">
			<label for="email" class="required">Email</label>
			<input type="text" class="form-control" id="email" name="email" placeholder="Email" required="required">
		</div>

		<div class="form-group">
			<label for="full-name" class="required">Full name</label>
			<input type="text" class="form-control" id="full-name" placeholder="Full name" required="required" name="username">
		</div>

		<div class="form-group">
			<label for="password" class="required">Password</label>
			<input name="password" type="password" class="form-control" id="password" placeholder="Password" required="required">
		</div>
		<div class="form-group">
			<label for="confirm-password" class="required">Confirm password</label>
			<input type="password" class="form-control" id="confirm-password" placeholder="Confirm password" required="required">
		</div>

		<input type="submit" class="btn btn-primary" value="Submit">
	</form>
	</div>
</div>
{% endblock %}
